extends ../../home/views/navbar.pug

block content
    link(rel="stylesheet" href="/stylesheets/admin.css")

    <h2 style="font-family:myAcid;">&nbsp Approval Requests of Organization/Student Council Members and Students:</h2>
    </br>
    <div class="container">
    <table class="table table-hover table-sm" id="requeststable">
        <thead>
            <tr>
            <th>User ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>User Type</th>
            <th>Email Address</th>
            <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            each user in tbl_user
                <tr>
                td=user.int_userID    
                td=user.varchar_userLName
                td=user.varchar_userFName
                td=user.varchar_userType
                td=user.varchar_userEmailAdd
                td
            
                    | &nbsp; 
                    a(href=`/admin/requests/${user.int_userID}/approve` class="buttonactions"): span.fa.fa-check-circle-o.fa-lg
                    | &nbsp;                  
                    a(href=`/admin/requests/${user.int_userID}/remove` class="buttonactions"): span.fa.fa-times-circle-o.fa-lg
                
                </tr>
    </table>
    </div>